{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="art_detail">
        <h1>
            {{ target_project.title }}
        </h1>

        <img class="img_detail" src="{{ target_project.image.url }}" alt="">

        <p>
            {{ target_project.description }}
        </p>

    </div>
    <div style="text-align: center">
    {% if user.is_authenticated %}
        {# 토글 형태의 구독과 구독취소 기능 #}
        {% if not subscription %}
            <a href="{% url "subscribeapp:subscribe" %}?project_pk={{ target_project.pk }}"
            class="btn btn-outline-secondary">
            Subscribe
        </a>
        {% else %}
            <a href="{% url "subscribeapp:subscribe" %}?project_pk={{ target_project.pk }}"
            class="btn btn-outline-secondary">
            Unsubscribe
            </a>
        {% endif %}
    {% endif %}
    </div>


<hr style="color: dimgrey; width: 80%; margin: 1rem auto 2rem auto; height: 3px;">
{#    ProjectDetailView에서 정한 object_list#}
    {% include "snippets/list_fragmant.html" with article_list=object_list %}

{% endblock %}