a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    transform: scale(1.05);
}

.navbar li a:hover{
    color: orange;
}


.header_logo{
    font-family: 'Shadows Into Light', cursive;
    font-size: 4.8rem;
    margin: 1rem;

}
.footer_logo{
    /*font-family: 'Shizuru', cursive;*/
    font-family: 'Shadows Into Light', cursive;
    font-size:1.3rem;
    margin-top: 1.5rem
}

.header_style{
    height: 10rem;
    border-radius: 1rem;
    margin: 2rem 1rem;
    text-align: center;

}

.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar ul{
    display: flex;
    /*justify-content: space-around;*/
    /*margin: 3.5rem 25rem 0.5rem 25rem;*/
    list-style: none;
    padding-left: 0;
}

.navbar li{
    padding: 1rem 1rem;
}


.footer_style{
    height: 10rem; background-color: #83c4fa; border-radius: 1rem; margin: 2rem 1rem; text-align :center
}

.free_style{
    height:30rem; background-color: lightgreen; border-radius: 1rem; margin: 2rem 1rem; text-align: center;
}

.account_form{
    text-align: center;
    max-width: 27rem;
    margin: 5rem auto;
}

.art_detail{
    text-align: center;
    margin: 3rem auto ;
    max-width: 800px;

}

.img_detail{
    width: 100%;
    margin: 5rem 0 3rem 0;
    border-radius: 3rem;
}
.detail_btn{
    display: flex;
    justify-content: space-evenly;
}

.container{
    padding: 0 ;
    margin: 0 auto;
}
.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 3rem;
    }

.container img{
    width: 100%;
    border-radius: 3rem;
    }

.container a {
    width : 45%;
    max-width : 250px
}


@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }

    .navbar {
        z-index: 1;
    }

    .navbar li {
        padding: 0.3rem 0.3rem;
    }

    .img_detail {
        padding: 0 2rem;
    }
}

/*---------------------아 이거 다시 해보자-----------------*/
/*    .navbar {*/

/*        flex-direction: column;*/
/*        align-items: flex-start;*/
/*    }*/

/*    .navbar ul{*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        width: 100%;*/
/*    }*/

/*}*/






