
.header_logo{
    font-family: 'Shadows Into Light', cursive;
    font-size: 4rem;
    margin: 2.5rem;
}
.footer_logo{
    /*font-family: 'Shizuru', cursive;*/
    font-family: 'Shadows Into Light', cursive;
    font-size:1.3rem;
    margin-top: 1.5rem
}

.header_style{
    height: 10rem; background-color: #fd8989; border-radius: 1rem; margin: 2rem 1rem; text-align: center
}


.footer_style{
    height: 10rem; background-color: #83c4fa; border-radius: 1rem; margin: 2rem 1rem; text-align :center
}

.free_style{
    height:30rem; background-color: lightgreen; border-radius: 1rem; margin: 2rem 1rem; text-align: center;
}

.account_form{
    text-align: center;
    max-width: 27rem;
    margin: 5rem auto;
}

.art_detail{
    text-align: center;
    margin: 3rem auto ;
    max-width: 800px;

}

.img_detail{
    width: 100%;
    margin: 5rem 0 3rem 0;
    border-radius: 3rem;
}
.detail_btn{
    display: flex;
    justify-content: space-evenly;
}


.container div {
    width: 400px;
      /*background-color: antiquewhite;*/
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    border-radius: 3rem;
    }

.container img{
    width: 100%;
    border-radius: 3rem;
    }


