
<div class="header_style" >
    <div>
        <h1 class ="header_logo"> Culture </h1>
    </div>
    <div class="navbar">
        <ul>
        <li><a href="{% url "articleapp:list" %}">
            <span>Articles</span>
        </a></li>
        <li><a href="{% url "projectapp:list" %}">
            <span>Projects</span>
        </a>
        </li>
        <li>ddddd  </li>

        {# 로그인이 되어있지않다면 #}
        {% if not user.is_authenticated %}
             {# url을 next라는 파라미터로 넘겨줌으로써 로그인 후 원래 있던 자리(화면)로 돌아갈 수 있게 함 #}
            <li><a href="{% url "personapp:login" %}?next={{ request.path }}">
                <span>Login</span>
            </a></li>
            <li><a href="{% url "personapp:create" %}">       {# url을 next라는 파라이터로 넘겨줌으로써 #}
                <span>Sign Up</span>
            </a></li>
        {# 로그인이 되어있다면 #}
        {% else %}
            <li><a href="{% url "personapp:detail" pk=user.pk %}">  {# 로그인되어있으니까 그 user의 pk를 가져옴 #}
                <span>My page</span>
            </a></li>
            <li><a href="{% url "personapp:logout" %}?next={{ request.path }}">
                <span>Logout</span>
            </a></li>
        </ul>
        {% endif %}

    </div>

</div>

<hr style="color: dimgrey; width: 80%; margin: 2rem auto 2rem auto; height: 1px;">
