{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="art_detail">
        <h1>
            {{ target_article.title }}
        </h1>

        <img class="img_detail" src="{{ target_article.image.url }}" alt="">

        <p>
            {{ target_article.content }}
        </p>

    </div>
        <div class="detail_btn">
        {% if target_article.writer == user  %}
        <a href="{% url "articleapp:update" pk=target_article.pk %}"
            class="btn btn-outline-secondary"> Update
        </a>

        <a href="{% url "articleapp:delete" pk=target_article.pk %}"
            class="btn btn-outline-danger">Delete
        </a>
        {% endif %}
        </div>
<hr style="color: dimgrey; width: 80%; margin: 1rem auto 2rem auto; height: 3px;">

{# include 구문으로 코멘트html가져와서 놓기 #}
{# with 구문을 사용함으로써 commentapp/create.html에서 value값으로 article.pk를 사용할 수 있다. #}
{% include "commentapp/create.html" with article=target_article %}

{% endblock %}