{% extends "base.html" %}

{% load static %}
{% block content %}
<style>
    .container div {
      width: 480px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3rem;
    }
    .container img{
        width: 100%;        {# 꽉채워서 #}
        border-radius: 3rem;
    }

    {#.container .item1 { height: 200px; }#}
    {#.container .item4 { height: 800px; }#}
    {#.container .item6 { height: 600px; }#}
    {#.container .item11 { height: 400px; }#}

</style>
<div style="text-align: center; padding-bottom: 2rem">
    <a href="{% url "articleapp:create" %}" class="btn btn-secondary rounded-pill">
        <span>Create Your Article</span>
    </a>

</div>
{% if article_list %}
<div class="container">
    {# for문을 이용하여 list 안에 있는 article 객체를 하나씩 돌아가며 작동 #}
    {# ArticleListView에서 정한 context_object_name = "article_list" #}
        {% for article in article_list %}
            <a href="{% url "articleapp:detail" pk=article.pk %}">
                {# with구문을 통해 변수 article을 card.html에 있는 article과 똑같다는 것을 설정 #}
                {% include "snippets/card.html" with article=article %}
            </a>
        {% endfor %}
</div>
<script src="{% static "js/magicgrid.js" %}"></script>
{% else %}
    <h3>No Articles</h3>
{% endif %}

    {% include "snippets/pagination.html" with page_obj=page_obj %}

{% endblock %}