{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}

    <div class="account_form">
        <div style="padding-bottom:2rem">
            <h3 >
                Delete My Account</h3>
        </div>
        <span> </span>
        {# personapp에 있는 create route로 연결해라 #}
        <form action="{% url "personapp:delete" pk=target_user.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger rounded-pill col-5 mt-5">
        </form>
    </div>
{% endblock %}