{% extends "base.html" %}

{% load bootstrap4 %}
{% load socialaccount %}


{% block content %}
    <div class="account_form">
        <div style="padding-bottom: 2rem">
            <h3> Login </h3>
        </div>
        <div>
        {# personapp에 있는 create route로 연결해라 #}
            <form action="" method="post">
            {% csrf_token %}
{#                {{ form }} 이거 대신 #}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-secondary rounded-pill col-5 mt-5">
{#                카카오로그인  #}
                <a href="{% provider_login_url "kakao" method="oauth2" %}">카카오톡으로 로그인</a>
            </form>


        </div>
    </div>

{% endblock %}